.my{
  .pt(60);

  .name{
    .mt(15);
    .mb(15);
  }

  .login-btn{
    width: 100%;
    .h(90);
    .fs(16);
    color: @defaultColor;
    background-color: @headBgColor;
    .mt(200);
  }


  .btns{

    button{
      .w(150);
      .h(90);
      .fs(16);
      //border-style:none;
      color: @defaultColor;
      background-color: @headBgColor;
      margin:10px;
      &.logout{
        .w(330);
        .h(40);
        background-color: @dengerBgC;
      }
    }


  }

}