<div class="register">


    <form action="" class="p-ab">


        <div class="form-line">
            <span class="account f-l"></span>
            <input class="d-b" type="text" placeholder="输入手机号">
        </div>

        <div class="form-line">
            <span class="lock f-l"></span>
            <input class="d-b" type="password" placeholder="设置六位以上的密码">
        </div>

        <div class="message-wrap">
            <input type="text" placeholder="短信验证码">
            <span>发送消息</span>
        </div>



        <button class="d-b">登录</button>
        <button class="d-b">注册</button>



    </form>




</div>